
PORT=5000
NODE_ENV=development


MONGO_URI=mongodb+srv://hexagraphic03_db_user:3ai16NeQUd92zCrb@scholarships-site.fs1meyi.mongodb.net/scholarships-site?appName=scholarships-site

JWT_SECRET=myScholarPath$ecretKey2026XYZ!11
JWT_EXPIRES=7d


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hexagraphic03r@gmail.com
SMTP_PASS=egvlqvkbntjyvuzl
SMTP_FROM=ScholarPath <no-reply@scholarpath.com>


CLIENT_URL=http://localhost:3000
